.btn-fechar{
    background: none;
    display: flex;
    margin-left: auto;
    border: none;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}